# Scientific Programming 2022 - Exercise 1 
### Student Name/Number: Esra Kantarcı Çayır - 202151056015

In this Notebook, you will find answers for first 3 section of the exercise 1 from https://web.stanford.edu/~schmit/cme193/ex/exercises.pdf 

A) BASICS




1. Exercise 1.1: The interpreter

* Open the Python interpeter. What happens when you input the following statements:

(a) 3 + 1

(b) 3 * 3

(c) 2 ** 3

(d) "Hello, world!"

In [ ]:
#a:
3+1

#b:
3*3

#c:
2**3

#d:
"Hello, World!"

'Hello, World!'


2. Exercise 1.2: Scripts

* Now copy the above to a script, and save it as script1.py. What happens if you run the script? (try: python script1.py). 
Can you fix this (hint: use the print function)


**Answer:** Only the last input's output is going to be visible; if we want to show all, we should have used seperate cells for each input.

In [ ]:
#a:
print(3+1)

#b:
print(3*3)

#c:
print(2**3)

#d:
print("Hello, World!")

4
9
8
Hello, World!



3. Exercise 1.3: More interpreter
* Explain the output of the following statements if executed subsequently:

(a) ’py’ + ’thon’ **--> Answer:** "python" will be shown as output

(b) ’py’ * 3 + ’thon’ **--> Answer:** "pypypython" will be shown as output; "py" part will be duplicated 3 times.

(c) ’py’ - ’py’ **--> Answer:** Since strings do not support substraction, TypeError will be thrown.

(d) ’3’ + 3 **--> Answer:** TypeError due first one is string while other one is integer, therefore there will be type mismatch. (JS would support this, though.)

(e) 3 * ’3’ **--> Answer:** 333, same operation as in (b), but this time the string is '3' which is the last input in the sequence. 

(f) a **--> Answer:** NameError, because there is no variable defined as "a" right now. 

(g) a = 3 **--> Answer:** a is initialized to 3, no output though.

(h) a **--> Answer:** Now there will be no issue, a will show 3.

Unless the errornous parts are commented, the code will not be run properly. You can see the subsequently executed output below.

In [ ]:
"py" + "thon"
"py"*3+"thon"
#"py"-"py"
#"3"+3
3*"3"
#a
a=3
a

3




4. Exercise 1.4: Booleans
* Explain the output of the following statements:

(a) 1 == 1

(b) 1 == True

(c) 0 == True

(d) 0 == False

(e) 3 == 1 * 3

(f) (3 == 1) * 3

(g) (3 == 3) * 4 + 3 == 1

(h) 3\*\*5 >= 4\*\*4

In [ ]:
print(1 == 1) # Is 1 equal to 1? Yes. Boolean value returns true
print (1 == True) # True boolean is 1 as int, where False is 0 as binary. This returns true as well.
print (0 == True) # Because of the same reason as (b), this returns false. Because False != True.
print (0 == False) # Same reason as (b), returns true.
print (3 == 1*3) # Is 3 equal to (1*3) which is 3? Yes. Boolean value returns true.
print ((3 == 1)*3) # First do boolean operation, which is false and equiavalent of 0, then do the next, which is 0*3=0
print ((3==3)*4+3 == 1) # (3==3)-> true -> 1*4+3 = 4+3 = 7 and it is not equal to 1, therefore, false.
print (3**5 >= 4**4) # 5th power of 3 is 243, 4 to the power 4 is 256. Statement returns false because 243<256

True
True
False
True
True
0
False
False

5. Exercise 1.5: Integers
* Explain the output of the following statements:

(a) 5 / 3 

(b) 5 % 3

(c) 5.0 / 3

(d) 5 / 3.0

(e) 5.2 % 3

(f) 2001 ** 200

In [ ]:
print(5/3) #Normal division
print(5%3) #Remainder operation
print(5.0/3) #Implicit casting to float type at 5.0, still normal division
print(5/3.0) #same as (c)
print(5.2%3) #same as (b) with a floating value
print(2001**200) #power operation, prettly long, my calculator says "infinity" but Python's compiler and Wolfram Alpha says it is OK.

1.6666666666666667
2
1.6666666666666667
1.6666666666666667
2.2
1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001



6. Exercise 1.6: Floats
* Explain the output of the following statements:

(a) 2000.3 ** 200 (compare with above) **--> Answer:** It gave OverflowError as in my calculator, because float values need more operations to be considered and calculation takes too much space in the stack, therefore the results as out of range message.

(b) 1.0 + 1.0 - 1.0 **--> Answer:** Float add and substract operations.

(c) 1.0 + 1.0e20 - 1.0e20 **--> Answer:** Float add and substract operations with scientific indicators to show how many digits there should be shown after comma. Normally the output could range 0.0e20, however since the value is simply 0 without any different digit values afterwards; it returned 0.0

In [ ]:
#print(2000.3 ** 200) 
print(1.0+1.0-1.0)
print(1.0+1.0e20 - 1.0e20)

1.0
0.0


7. Exercise 1.7: Variables
* Write a script where the variable name holds a string with your name. Then, assuming for now your name is John Doe, have the script output: Hello, John Doe! (and obviously, do not use print "Hello,
John Doe!")

In [ ]:
print("Hello, John Doe!\n Heh, just kidding.\n\n")

def printer(name):
  print("Hello, " + name + "!")

inputName = input("Enter your name: ")
printer(inputName)

Hello, John Doe!
 Heh, just kidding.


Enter your name: Esra
Hello, Esra!



8. Exercise 1.8: Type casting
* Very often, one wants to “cast” variables of a certain type into another type. Suppose we have variable
x = ’123’, but really we would like x to be an integer.
This is easy to do in Python, just use desiredtype(x), e.g. int(x) to obtain an integer.
Try the following and explain the output

(a) float(123)

(b) float(’123’)

(c) float(’123.23’)

(d) int(123.23)

(e) int(’123.23’)

(f) int(float(’123.23’))

(g) str(12)

(h) str(12.2)

(i) bool(’a’)

(j) bool(0)

(k) bool(0.1)

In [ ]:
print(float(123)) #simple casting int to float type
print(float("123")) #simple casting string to float type
print(float("123.23")) #same as (b)
print(int(123.23)) #simple casting float to int, which removes the decimal part
#int(int("123.23")) #returns error, because the str should be casted into float first, then converted into int
print(int(float("123.23"))) #my exact points as in (f)
print(str(12)) #string value of "12"
print(str(12.2)) #string value of "12.2"
print(bool("a")) #any value other than 0 is true in boolean
print(bool(0)) #0 is false in boolean
print(bool(0.1)) #0.1 is a value which is not 0, so it is true.

123.0
123.0
123.23
123
123
12
12.2
True
False
True

B) CONTROL FLOW

1. Exercise 2.1: Range

Type range(5) in the interpreter, what does the interpreter return? So what does for i in range(5) mean?

Let’s also find out whether the interpreter can help us understand the object ‘range(5)’ better. Type type(range(5)) in the interpreter.

**Answer:** Although the interpreter does not have best explanations, range() is a function which is used for loops. It has start, end and step values. Start is 0 and step is 1 by default. So when we say "range(5)" we actually state: range(0,5,1) implicitly.

In [ ]:
print(range(5))
type(range(5))

range(0, 5)

range


2. Exercise 2.2: For loops

Use a for loop to:

(a) Print the numbers 0 to 100

(b) Print the numbers 0 to 100 that are divisible by 7

(c) Print the numbers 1 to 100 that are divisible by 5 but not by 3

(d) Print for each of the numbers x = 2, . . . 20, all numbers that divide x, excluding 1 and x. Hence,
for 18, it should print 2 3 6 9.

Hint: see https://docs.python.org/2.7/library/functions.html#range.

In [ ]:
#a:
for i in range(100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
#b:
for i in range(100):
  if(i%7 == 0):
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [ ]:
#c:
for i in range(1,100):
  if(i%3 != 0 and i%5 == 0):
    print(i)

5
10
20
25
35
40
50
55
65
70
80
85
95

 Print for each of the numbers x = 2, . . . 20, all numbers that divide x, excluding 1 and x. Hence, for 18, it should print 2 3 6 9.

In [167]:
for i in range(20,2,-1):
  print("The number " + str(i) + " is divided by: ")
  count = 0
  for j in range(2,i):
    if(i%j==0):
      count = count + 1
      print(j)
  if(count==0):
    print("None, it is prime")

The number 20 is divided by:
2
4
5
10
The number 19 is divided by:
None, it is prime
The number 18 is divided by:
2
3
6
9
The number 17 is divided by:
None, it is prime
The number 16 is divided by:
2
4
8
The number 15 is divided by:
3
5
The number 14 is divided by:
2
7
The number 13 is divided by:
None, it is prime
The number 12 is divided by:
2
3
4
6
The number 11 is divided by:
None, it is prime
The number 10 is divided by:
2
5
The number 9 is divided by:
3
The number 8 is divided by:
2
4
The number 7 is divided by:
None, it is prime
The number 6 is divided by:
2
3
The number 5 is divided by:
None, it is prime
The number 4 is divided by:
2
The number 3 is divided by:
None, it is prime

3. Exercise 2.3: Simple while loops

Instead of using a for loop, use a while loop to:

(a) Print the numbers 0 to 100
(b) Print the numbers 0 to 100 that are divisible by 7

In [ ]:
i=0
while i<=100:
  print(i)
  i = i + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
i=0
while i<=100:
  if(i%7 == 0):
    print(i)
  i = i + 1

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

Exercise 2.4: Hangman update 1
Let’s reconsider the hangman code we saw in class.1 We noted that the computer agent is not very good
at guessing. Update the code such that the computer guesses ‘e’ first, and ’a’ second.
Use the simulate.py script to see if this improves performance.
Feel free to play around and see if you can do better! 

TO-DO



5. Exercise 2.5: While loops
Use a while loop to find the first 20 numbers that are divisible by 5, 7 and 11, and print them Hint:
store the number found so far in a variable.
Pseudo-code:
number found = 0
x = 11
while number found is less than 20:
if x is divisible by 5, 7 and 11:
print x
increase number found by 1
increase x by 1

In [ ]:
# I want to write: i = 11*5*7 they are all primes among them, and just add i to i while loop runs 20 times...
# whatever... 

count = 0
i = 1
while count < 20:
  if (i%(5*7*11) == 0):
    print(i)
    count = count + 1
  i = i + 1

385
770
1155
1540
1925
2310
2695
3080
3465
3850
4235
4620
5005
5390
5775
6160
6545
6930
7315
7700

6. Exercise 2.6: More while loops

The smallest number that is divisible by 2, 3 and 4 is 12. Find the smallest number that is divisible by all integers between 1 and 10.

In [ ]:
#Primes do not have common divisor. So we need to strap the common primes then multiply them according to their biggest power in a gcd?

import math

In [146]:
#Least common multiple can be found by using greatest common divisor. In mathematical formulation:
# a*b = lcm(a,b) * gcd(a,b)
#so, we can say that lcm(a,b) = a*b / gcd(a,b)
#I am gonna use math lib

def lcm(a,b):
  return (int)((a*b) / math.gcd(a,b))

print(lcm(12,18))

36

In [165]:
#OK, correct. 
#Now we need a loop to iterate and findout the max

max = 1
n = 10 #you can change it in order to find the lcm of nth number

for i in range(1,n+1):
  max = max*i

val = 1
for i in range(2,n+1):
  val = lcm(val,i)

print(val)

2520




7. Exercise 2.7: Collatz sequence
A Collatz sequence is formed as follows: We start with some number x0, and we find the next number
in the sequence by
xi+1 =
(
xi/2 if xi
is even
3xi + 1 if xi
is odd
If xi = 1, we stop iterating and have found the full sequence.
For example, if we start with x0 = 5, we obtain the sequence:
5 16 8 4 2 1
It is conjectured, though not proven, that every chain eventually ends at 1.
Print the Collatz sequence starting at x0 = 103.

In [ ]:
def collatz(start):
  if(start == 1):
    return start
  elif(start%2 == 0):
    print(start)
    return collatz((int)(start/2))
  else:
    print(start)
    return collatz((int)(start*3)+1)


collatz(5)

5
16
8
4
2

1

In [ ]:
collatz(103)

103
310
155
466
233
700
350
175
526
263
790
395
1186
593
1780
890
445
1336
668
334
167
502
251
754
377
1132
566
283
850
425
1276
638
319
958
479
1438
719
2158
1079
3238
1619
4858
2429
7288
3644
1822
911
2734
1367
4102
2051
6154
3077
9232
4616
2308
1154
577
1732
866
433
1300
650
325
976
488
244
122
61
184
92
46
23
70
35
106
53
160
80
40
20
10
5
16
8
4
2

1

# C. Functions

1. Exercise 3.1: Hello

(a) Write a function hello_world that prints ’Hello, world!’

(b) Write a function hello_name(name) that prints ’Hello, name!’ where name is a string.

(c) Explain the difference between the print and return keywords. What would change if instead of
print you would use return?

**Answer:** 
The code below shows the (b)'s implementation. In the (a)'s implementation, you just need to remove the name parameter and hardcode the print part as "Hello, world!" 

(c) Just returning the value will show the raw value of the last output. However, printing it changes it into a display in the console permanently.

In [ ]:
def hello_world(name):
  print("Hello, " + name + "!")

hello_world("Esra")

Hello, Esra!

2. Exercise 3.2: Polynomial

Write a function that evaluates the polynomial 3x2 − x + 2.

In [ ]:
def poly(x):
  return 3*(x**2) - x + 2

poly(3)

26

3. Exercise 3.3: Maximum

Write a function my_max(x,y) that returns the maximum of x and y. Do not use the max function, but
use if instead in following two ways:

(a) Use both if and else.

(b) Use if but not else (nor elif).

In [ ]:
def my_max1(x,y):
  if(x>y):
    return x
  else:
    return y

def my_max2(x,y):
  if(x>y):
    return x
  return y


print(my_max1(3,4))
print(my_max2(3,4))

4
4



4. Exercise 3.4: Primes

(a) Write a function is_prime(n) that returns True only if n is prime.

(b) Note that apart from 2 and 3, all primes are of the form 6k ± 1 (though not all numbers of the
form 6k ± 1 are prime of course). Using this, we can improve the computation time by a factor 3.

Update your function to use this.

(c) Write a function that returns all primes up to n.

(d) Write a function that returns the first n primes.

In [ ]:
# (a)
def is_prime(n):
  val = True
  for i in range(2,(int)(n/2)+1):
    if(n%i == 0):
      val = False
      break
  return val

is_prime(30)

False

In [ ]:
# (b)
def is_prime2(n):
  val = False
  if (n>3 and (n-1)%6 == 0):
    for i in range(2,(int)(n/2)+1):
      if(n%i == 0):
        val = False
        break
      else:
        val = True
  return val

print(is_prime(13))
print(is_prime(14))

True
False

In [ ]:
#(c) Write a function that returns all primes up to n.

#(d) Write a function that returns the first n primes.

def all_primes(n):
  arr = []
  for i in range(2,n):
    if(is_prime(i)):
      arr.append(i)
  return arr

all_primes(18)


def first_n(n):
  arr = []
  i = 2
  while(len(arr) != n):
    if(is_prime(i)):
      arr.append(i)
      i = i + 1
    i = i + 1
  return arr
  

print(first_n(10))

[2, 5, 7, 11, 13, 17, 19, 23, 29, 31]




5. Exercise 3.5: Root finding

Suppose f is a continuous function and f(a) < 0 and f(b) > 0 for some known a and b. For simplicity,
assume a < b. Then, there must exist some c such that f(c) = 0.

(a) Write a function root(f, a, b) that takes a function f and two floats a and b and returns the
root c. Hint: check the sign at the midpoint of the interval.

(b) Remove the assumption that a < b, and that f(a) < 0 and f(b) > 0, if your current code relies on
them.

(c) Add a check that prints
’function evals have same sign’
if f(a) > 0 and f(b) > 0 or if f(a) < 0 and f(b) < 0.


Find middle point c= (a + b)/2 .
If f(c) == 0, then c is the root of the solution.
Else f(c) != 0
If value f(a)*f(c) < 0 then root lies between a and c. So we recur for a and c
Else If f(b)*f(c) < 0 then root lies between b and c. So we recur b and c.
Else given function doesn’t follow one of assumptions.

In [ ]:
import math

In [164]:
#a
def func(a: float) -> float:
  return 2.0*a

def same_signs(f, a, b):
  if f(a)*f(b) > 0:
    return True
  else:
    return False

def root(f, a, b):
 
    if (same_signs(f,a,b)):
        return "Something is wrong"
    c = a

    #https://www.geeksforgeeks.org/program-for-bisection-method/
    while ((b-a) > 0.01): #precision to escape infinity loop
        c = (a+b)/2

        if (f(c) == 0):
            break #just exit loop, you found the one
  
        if (f(c)*f(a) < 0): #search between c and a
            b = c
        else: #search between c and b
            a = c
             
    print("The value of root is : ","%.4f"%c)

root(func, -2.2, 2 )

The value of root is :  0.0066